.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
.env
.DS_Store
.env*
/.env
npm-debug.log
node_modules
*/mlruns
*/results_distilbert-base-uncased
*/results_bert-base-uncased
/results_distilbert-base-uncased